.hours p
{
  display: inline;
  line-height: 8px;
  font-size: 12px;
}

.right
{
  float: right;
}

.left
{
  float: left;
}

#events .card-deck .card-offset {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: none;
}

.card-deck {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 0.5rem;
}

.card {
  max-width: 300px;
}
