<!DOCTYPE html>
<html>
  <head>
  	<title>JMU Dining</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/CreateAccount.css">
    <script type="text/javascript" src="../script/CreateAccount.js"></script>
  </head>

  <body>
    <div style="padding: 30px">
       <form-header></form-header>
       <section id="apply" class="g-theme-bg-gray-light-v1 g-py-50">
         <div class="applyForm container col-sm-8 col-xl-6 col-lg-8 col-xs-9">
           <div class="container text-center g-max-width-750 g-mb-20 g-pt-10 g-pb-10">
             <div class="u-heading-v2-2--bottom g-brd-primary g-mb-20">
               <h2 class="text-uppercase u-heading-v2__title g-font-weight-800 g-font-size-30 g-font-size-40--md">
                 Create New Account
               </h2>
             </div>
           </div>

           <form>
             <div class="row">
               <!-- First Name Field -->
               <div class="col">
                 <div class="col">
                   <div class="input">
                     <label class="control-label">*First Name:</label>
                     <input type="name" class="form-control" id="firstName" placeholder="First Name" />
                   </div>
                 </div>
               </div>

               <!-- Last Name Field -->
               <div class="col">
                 <div class="col">
                   <div class="input">
                     <label class="control-label">*Last Name:</label>
                     <input type="name" class="form-control" id="lastName" placeholder="Last Name" />
                   </div>
                 </div>
               </div>
             </div>
             <br />

             <!-- Email Field -->
             <div class="form-group">
               <div class="col-xl-12">
                 <div class="input">
                   <label class="control-label">*Email:</label>
                   <input type="text" class="form-control" id="email" placeholder="email@dukes.jmu.edu"/>
                 </div>
               </div>
             </div>
             <br />

             <!-- Phone Number Field -->
             <div class="form-group">
               <div class="col-xl-12">
                 <div class="input">
                   <label class="control-label">*Phone Number:</label>
                   <input type="text" class="form-control" id="phone" placeholder="###-###-####"/>
                 </div>
               </div>
             </div>
             <br />

             <!-- Birthday -->
             <div class="form-group">
               <div class="col-xl-12">
                 <div class="input">
                   <label class="control-label">*Birthday:</label>
                   <input type="text" class="form-control" id="birthday" placeholder="DD/MM/YYYY"/>
                 </div>
               </div>
             </div>
             <br />
           </form>

           <!-- MyMadison User -->
           <div class="form-group">
             <div class="col-xl-12">
               <div class="input">
                 <label class="control-label">MyMadison User:</label>
                 <input type="text" class="form-control" id="MyMadisonUser" placeholder="Optional"/>
               </div>
             </div>
           </div>
           <br />
         </form>

         <!-- MyMadison Password -->
         <div class="form-group">
           <div class="col-xl-12">
             <div class="input">
               <label class="control-label">MyMadison Password:</label>
               <input type="text" class="form-control" id="MyMadisonPass" placeholder="Optional"/>
             </div>
           </div>
         </div>
         <br />

         <p style="color:blue; font-size: 12px;">* fields are required</p>
       </form>


           <!-- Submit Button -->
           <div>
             <div class="col-sm-offset-2 col-sm-10">
               <button type="submit" onClick="accountCreatedRedirect()" class="btn btn-success" style="opacity: 0.8;">
                 Submit
               </button>
             </div>
           </div>
         </div>


       </section>
     </div>

  </body>
</html>
